*,
*::before,
*::after{
  box-sizing: border-box;
}

:root {
  --deep-blue-gray: hsl(210, 50%, 20%);
  --pastel-blue: hsl(204, 100%, 86%);
  --soft-blue: hsl(200, 77%, 95%);
}


body{
  margin: 0;
  color:  var(--deep-blue-gray);
  background: var(--pastel-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  
}

.container{
  background: var(--soft-blue);
  display: flex;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-heading{
  color:  var(--deep-blue-gray) /* Deep Blue-Gray */
}
